/* color palette from <https://github.com/vuejs/theme> */
:root {
  --primary: #4ade80;
  --grey: #64748b;
  --dark: #1e293b;
  --dark-alt: #334155;
  --light: #f1f5f9;
  --sidebar-width: 225px;
  --main-transition: all 0.2s ease-in-out;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* direction: rtl; */
}
body {
  background-color: var(--light);
}
button {
  cursor: pointer;
  appearance: none;
  border: none;
  outline: none;
  background: none;
}
.app {
  display: flex;
  main {
    flex: 1 1 0;
    padding: 2rem;
    @media (max-width: 768px) {
      padding-left: 6rem;
    }
  }
}
