/* color palette from <https://github.com/vuejs/theme> */
:root {
  --primary: #4ade80;
  --grey: #64748b;
  --dark: #1e293b;
  --dark-alt: #334155;
  --light: #f1f5f9;
  --sidebar-width: 225px;
  --main-transition: all 0.2s ease-in-out;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif !important;
  /* direction: rtl; */
}
body {
  background-color: var(--light);
  font-family: "Tajawal", sans-serif !important;
}
button {
  cursor: pointer;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  &:disabled {
    color: #ffff !important;
    background-color: gray !important;
    border: none !important;
  }
}
.app {
  display: flex;
  main {
    flex: 1 1 0;
    padding: 2rem;
    @media (max-width: 768px) {
      padding-left: 6rem;
    }
  }
}
.error {
  color: #dc3545;
  font-weight: bold;
}
#loaders4 {
  position: absolute;
  top: 0 !important;
  bottom: 0px !important;
  left: 0;
  padding-top: 0px !important;
  margin-top: 0px !important;
  border-radius: 0px;
  width: 100% !important;
  height: 100%;
  background: rgba(225, 225, 225, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  overflow: hidden;
}
.loaders404 {
  position: absolute;
  top: -60px !important;
  left: 0;
  width: 100% !important;
  height: 115% !important;
  background: rgba(225, 225, 225, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  overflow: hidden;
}
#Loading {
  display: contents;
}
label {
  font-weight: bold;
}
.rms-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.rms-ripple div {
  position: absolute;
  opacity: 1;
  border-radius: 50%;
  animation: rms-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.rms-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes rms-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f6f6f6;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background: #34495e;
  transition: all 1s ease;
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 20px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background: #374e64;
}
::-webkit-scrollbar-corner {
  display: none;
}
.export-button {
  padding: 20px;
  margin-right: 10px;
  background-color: #34495e;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.export-button:hover {
  background-color: #0056b3;
}

.export-button {
  padding: 20px;
  margin-right: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.export-button:hover {
  background-color: #0056b3;
}

.custom-card-header,
.fixed-top-nav,
footer {
  background: #11101d !important;
  color: #fff !important;
}

@media print {
  @page {
    size: A4 landscape;

    @top-center {
      content: none;
    }
  }
  .hideDate {
    display: block;
  }
  body {
    background: #fff;
    font-size: 9px !important;
  }
  .vgt-table th.line-numbers,
  .vgt-table th.vgt-checkbox-col {
    background: #fff !important;
  }
  table.vgt-table td {
    line-height: 2 !important;
    font-size: 9px !important;
  }
  .vgt-table thead th {
    font-size: 12px !important;
  }
}

/* Start Loaders */

.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
  display: block;
  margin: 20% auto;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;
  background-color: #fff;
  box-shadow: 30px 0 0 #ff3d00;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite;
  background-color: #ff3d00;
  box-shadow: 30px 0 0 #fff;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(360deg) scale(1.2);
  }
  100% {
    transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #ff3d00;
  }
  50% {
    box-shadow: 0 0 0 #ff3d00;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #ff3d00;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #fff;
  }
  50% {
    box-shadow: 0 0 0 #fff;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #fff;
    margin-top: 0;
  }
}

/* End Loaders */

/* Start Custom Btn */
.custom-btn {
  appearance: none;
  background-color: transparent;
  border: 0.125em solid #1a1a1a;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #3b3b3b;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 3.75em;
  min-width: 0;
  outline: none;
  padding: 0.5em 1.3em;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.custom-btn:disabled {
  pointer-events: none;
}

.custom-btn:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.custom-btn:active {
  box-shadow: none;
  transform: translateY(0);
}
/* End Custom Btn */
/* Report Tables */
.report .vgt-table.bordered td, .report .vgt-table.bordered th {
  border: 1px solid #DCDFE6;
  font-size: 14px;
  line-height: 1;
}